
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postify</title>
</head>
<body>
    <h1>Postify v0.1</h1>
    <p>Hello, and welcome to Postify. Postify is a website created by Asim, the project started on 05/11/2025. It's something akin to a social media website...
    not too sure on the concept right now!</p>

    <h1>Posts</h1>
    <form method="post">
    {% csrf_token %}
    {{ post_form.as_p }}
    <button type="submit">Submit</button>
    </form>
    
   {% for post in posts %}
        <p>{{ post }}</p>
    {% endfor %}


    
</body>
</html>
